{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Contacto - PetDev{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/crispy.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="text-center mb-4">Contáctanos</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Enviar mensaje</button>
        </form>
    </div>
</div>
{% endblock %}